name: drag_select_grid_view
description: A new Flutter package.
version: 0.0.1
author: Hugo Passos
homepage:

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: any

flutter:
